<section id="intro-section-wrapper" #home>
  <div id="particles-js"></div>
  <div id="title-bar">
    <h1>Avery Fairbanks <mark style="background: none; color: inherit; font-weight: 800"><br> Designer & Developer</mark></h1>
  </div>
  <div class="icon-container" (click)="scrollTo(page_one)">
    <mat-icon>mouse</mat-icon><br>
    <mat-icon>expand_more</mat-icon>
  </div>
</section>
<div class="header">
  <button mat-button (click)="scrollTo(home)">Home</button>
  <button mat-button (click)="scrollTo(page_one)">About</button>
  <button mat-button (click)="scrollTo(page_two)">Projects</button>
  <button mat-button (click)="scrollTo(page_three)">Contact</button>
</div>
<section id="main-content">
  <div id="first-page-container" #page_one>
    <div id="first-page-content" [ngClass]="{'fade-in-up': firstPageInView, 'before-fade-in-up': !firstPageInView}">
      <h1>About Me</h1>
      <p>
        Hailing originally from New England, Avery is a developer - specifically focused on full stack web design & development -
        whose main expertise lies in Angular web framework and Java SpringBoot. However, they remain a multidisciplinary
        programmer and continue to learn new languages and frameworks.
      </p>
    </div>
  </div>

  <div id="second-page-container" #page_two>

    <mdb-carousel [isControls]="true" [animation]="'slide'" [interval]="0" [allowSwipe]="true">
      <mdb-carousel-item>
        <div class="view">
          <div class="project-title">
            <a href="https://gitlab.com/LibreFoodPantry/modules/visitmodule-tp/checkout" target="_blank">
              <img src="/assets/theas_pantry_logo.png" alt="Thea's Pantry logo" [ngClass]="{'fade-in-up': secondPageInView, 'before-fade-in-up': !secondPageInView}">
            </a>
          </div>
          <div class="project-tile" [ngClass]="{'fade-in-up': secondPageInView, 'before-fade-in-up': !secondPageInView}">
            <p>
              Tasked with creating a full stack web application for handling checkouts at the food pantry. I handled large portions of the Java
              <strong>SpringBoot Rest API</strong> as well as designing the <strong>UI & UX</strong> using Adobe Xd and implementing it with <strong>Angular</strong>. <br><br>I wrote numerous Angular animations
              for window transitions as well as utilizing Form Validators, Services, Emitters, and tons more tools that the framework has to offer.
              This was easily the largest and most ambitious project I have worked on but I look forward to surpassing it.
            </p>
          </div>
        </div>
      </mdb-carousel-item>

      <mdb-carousel-item>
        <div class="view">
          <div class="project-title" [ngClass]="{'fade-in-up': secondPageInView, 'before-fade-in-up': !secondPageInView}" style="padding-top: 2vh; height: 60%">
            <a href="https://github.com/averyfairbanks" target="_blank">
              <img src="/assets/GitHub_Logo.png" alt="Github logo" style="align-self: center; height: 95%;">
            </a>
          </div>
          <div class="project-tile" [ngClass]="{'fade-in-up': secondPageInView, 'before-fade-in-up': !secondPageInView}">
            <p>
              This very site is the third revision of my personal site, which began as a project for my Software Construction course.
              All three versions have been built in <strong>Angular</strong>, integrating new features and technologies --
              like <strong>Material</strong>, <strong>LESS/SASS</strong>, and many others -- as I learned them.
              <br><br>While not exhaustive, this site represents the culmination of my relevant design and development skills.
              In addition, I have built numerous concept sites exploring content display, all of which can be found on my
              <a href="https://github.com/averyfairbanks" target="_blank" style="color: #73c2ae">github</a> page here.
            </p>
          </div>
        </div>
      </mdb-carousel-item>

      <mdb-carousel-item>
        <div class="view">
          <div class="project-title" [ngClass]="{'fade-in-up': secondPageInView, 'before-fade-in-up': !secondPageInView}">
            <h1>Your project here!</h1>
          </div>
          <div class="project-tile" [ngClass]="{'fade-in-up': secondPageInView, 'before-fade-in-up': !secondPageInView}">
            <p>
              I am currently seeking a place within a passionate and collaborative development team, and would be very excited
              for an opportunity to join one!
              <br><br>
              <strong>If I seem like a good fit for your company or project, please contact me!</strong><br>
              <mat-icon (click)="scrollTo(page_three)">email</mat-icon>
            </p>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>

  </div>

  <div id="third-page-container" #page_three>
    <div id="third-page-content" [ngClass]="{'fade-in-up': thirdPageInView, 'before-fade-in-up': !thirdPageInView}">

      <form name="contact" method="post" class="text-center border border-light p-5" [formGroup]="contactForm">
        <input type="hidden" name="form-name" value="contact" />

        <p class="h4 mb-4">Contact</p>

        <!-- Name -->
        <input type="text" name="name" formControlName="contactFormName" id="defaultContactFormName" mdbInput
               class="form-control mb-4" placeholder="Name">

        <!-- Email -->
        <input type="email" name="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
               class="form-control mb-4" placeholder="E-mail">

        <!-- Message -->
        <div class="form-group">
          <textarea formControlName="contactFormMessage"
                    name="message"
                    class="form-control rounded-0"
                    mdbInput id="exampleFormControlTextarea2"
                    rows="3"
                    placeholder="Message"
                    style="height: 225px"
          ></textarea>
        </div>

        <!-- Send button -->
        <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
                mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>
      </form>

    </div>

    <footer class="footer">
      <a href="https://github.com/averyfairbanks" target="_blank">
        <img src="https://img.icons8.com/ios/192/000000/github.png" alt="Github logo small outline"/>
      </a>
      <a href="https://www.linkedin.com/in/averyjfairbanks/" target="_blank">
        <img src="https://img.icons8.com/ios/192/000000/linkedin.png" alt="LinkedIn logo small outline"/>
      </a>
    </footer>
  </div>
</section>
